#encabezaddo {
    align-content: center;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table {
    border-collapse: separate;
}

.Semana {
    text-align: center;
    border-collapse: separate;
}

#Noticias {
    text-align: justify;
    border-collapse: separate;
}

#VoleyTabla {
    text-align: center;
    border-collapse: separate;
}

h1, h2, h3, h4 {
    text-align: center;
}