#encabezado {
    color: white;
    text-align: center;
    font-weight: bold;
    background-color: black;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2, h3, h4 {
    text-align: center;
    font-size: medium;
}

table {
    width: 100%;
    border: solid 1px #000;
}

td.TablaCentro {
    text-align: center;
}

th {
    text-align: center;
    border: solid 1px #000;
}

td {
    text-align: justify;
    border: solid 1px #000;
}

