#encabezado {
    color: white;
    text-align: center;
    background-color: black;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table {
    width: 100%;
}

th {
    text-align: center;
    border: solid 1px #000;
}

td {
    text-align: justify;
    border: solid 1px #000;
}